* {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #4E4B4C;
    background-color: #F9F9F9;
}
.menu {
    display: grid;
    grid-template-columns: auto 60% auto;
    justify-content: center;
    position: absolute;
    background: transparent;
    width: 100%;
    padding-top: 1rem;
}
.box1 img {
    width: 20px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
li {
    margin: 0 2rem 0 2rem;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
    color: #4E4B4C;
}
.box2 a {
    text-decoration-line: underline;
    text-decoration-color: transparent;
    transition: 0.4s;
    background-color: transparent;
}
.box2 a:hover {
    text-decoration-color: #929dbc9d;
    color: #4e4b4ccb;;
}
.box1, .box2, .box3 {
    background-color: transparent;
}
.box3 img {
    width: 20px;
    width: 20px;
    vertical-align: middle;
}
.box3 button {
    margin: 0 0 0 1rem;
    border: 0;
    border-radius: 1px;
    background-color: transparent;
}
.box3 button a {
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    transition: 0.4s;
    background-color: transparent;
}
.box3 button a:hover {
    text-decoration-color: #929dbc9d;
    color: #4e4b4ccb;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;
    background-color: #F9F9F9;
    box-shadow: 0 2px 20px 10px #4b526615;
}
.box5 {
    width: 100%;
    height: 100%;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px solid red;
}
.box4 {
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    border: 0px solid red;
    display: grid;
    background-color: transparent;
}
h1 {
    font-size: 6rem;
    letter-spacing: 10px;
    font-weight: 100;
    background-image: linear-gradient(120deg, #929dbc9d, #929dbc9d);
    background-repeat: no-repeat;
    background-size: 100% 0.5rem;
    background-position: 0 80%;
    transition: background-size 0.20s ease-in-out;
    border: 0px solid red;
}
h1:hover {
    background-size: 100% 0.8rem;
}

.container2 {
    border: 0px solid red;
    display: grid;
    grid-template-columns: 27% 27% 27%;
    grid-template-rows: 100vh;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #F9F9F9;
}
.sec1, .sec2, .sec3 {
    margin: 0 2rem 0 2rem;
}
.container2 img {
    width: 80%;
    border-radius: 50%;
    box-shadow: 0 0  1rem #4b5266;
}
.container2 p, .container2 h3 {
    padding-top: 0.5rem;
}
.container2 h3 {
    margin-top: 2rem;
    color: #4E4B4C;
    font-weight: 800;
    font-size: 1.5rem;
}
